prod/workflows/HANDLE_REVIEW_ACTION.json
{
  "name": "HANDLE_REVIEW_ACTION",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "tax-review",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 390],
      "webhookId": "tax-review-action"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.REVIEW_HMAC_SECRET || 'fallback-secret';\n\nconst params = $input.first().json.query || {};\nconst action = params.action;\nconst docId  = params.doc_id;\nconst token  = params.token;\n\nif (!action || !docId || !token) {\n  return [{ json: { valid: false, error: 'Missing required parameters', action, docId } }];\n}\n\nconst expected = crypto.createHmac('sha256', secret)\n  .update(`${docId}|${action}`)\n  .digest('hex');\n\nconst valid = expected === token;\nreturn [{ json: { valid, action, docId: parseInt(docId), token } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Validate Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 390]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-valid",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Token Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 390]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "cond-action",
              "leftValue": "={{ $json.action }}",
              "rightValue": "confirm",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Confirm or Reject?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE core.tax_documents\nSET review_status  = 'CONFIRMED',\n    reviewer_notes = COALESCE(reviewer_notes, 'Confirmed via email review bot')\nWHERE doc_id = {{ $json.docId }}\n  AND review_status NOT IN ('CONFIRMED', 'REJECTED')\nRETURNING doc_id, supplier_name, review_status;",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Confirm Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 200],
      "credentials": {
        "postgres": {
          "id": "GhZL6n0TTt2R9eJ7",
          "name": "Tax Collector DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE core.tax_documents\nSET review_status  = 'REJECTED',\n    reviewer_notes = COALESCE(reviewer_notes, 'Rejected via email review bot')\nWHERE doc_id = {{ $json.docId }}\n  AND review_status NOT IN ('CONFIRMED', 'REJECTED')\nRETURNING doc_id, supplier_name, review_status;",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Reject Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 420],
      "credentials": {
        "postgres": {
          "id": "GhZL6n0TTt2R9eJ7",
          "name": "Tax Collector DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst isConfirm = row.review_status === 'CONFIRMED';\nconst supplier = row.supplier_name || `Doc #${row.doc_id}`;\nconst alreadyDone = !row.doc_id; // RETURNING returned nothing = was already actioned\n\nconst icon    = isConfirm ? '✓' : '✗';\nconst colour  = isConfirm ? '#22c55e' : '#ef4444';\nconst verb    = isConfirm ? 'Confirmed' : 'Rejected';\nconst message = alreadyDone\n  ? 'This record has already been actioned — no change made.'\n  : `${supplier} has been marked as <strong>${verb}</strong>.`;\n\nconst html = `<!DOCTYPE html>\n<html>\n<head><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;margin:0;padding:40px 20px;background:#f9fafb;text-align:center\">\n  <div style=\"max-width:400px;margin:0 auto;background:#fff;border-radius:12px;box-shadow:0 2px 8px rgba(0,0,0,.1);padding:40px 32px\">\n    <div style=\"width:64px;height:64px;border-radius:50%;background:${colour};margin:0 auto 20px;display:flex;align-items:center;justify-content:center\">\n      <span style=\"color:#fff;font-size:32px;line-height:1\">${icon}</span>\n    </div>\n    <h2 style=\"margin:0 0 12px;color:#111\">${verb}</h2>\n    <p style=\"color:#555;margin:0 0 24px;font-size:15px\">${message}</p>\n    <a href=\"http://hal-srvr:3002/dashboard/6\" style=\"background:#1e40af;color:#fff;padding:10px 20px;border-radius:6px;text-decoration:none;font-size:14px;font-weight:600\">Open Review Queue</a>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { html } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Build Success Page",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "text/html; charset=utf-8" }]
          }
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html><html><body style=\"font-family:sans-serif;text-align:center;padding:60px\"><h2 style=\"color:#ef4444\">&#128683; Invalid Request</h2><p>This link is invalid or has expired.</p></body></html>",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "text/html; charset=utf-8" }]
          }
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Respond 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 520]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Token", "type": "main", "index": 0 }]]
    },
    "Validate Token": {
      "main": [[{ "node": "Token Valid?", "type": "main", "index": 0 }]]
    },
    "Token Valid?": {
      "main": [
        [{ "node": "Confirm or Reject?", "type": "main", "index": 0 }],
        [{ "node": "Respond 403", "type": "main", "index": 0 }]
      ]
    },
    "Confirm or Reject?": {
      "main": [
        [{ "node": "Confirm Record", "type": "main", "index": 0 }],
        [{ "node": "Reject Record",  "type": "main", "index": 0 }]
      ]
    },
    "Confirm Record": {
      "main": [[{ "node": "Build Success Page", "type": "main", "index": 0 }]]
    },
    "Reject Record": {
      "main": [[{ "node": "Build Success Page", "type": "main", "index": 0 }]]
    },
    "Build Success Page": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "2368e69b5c080df17f325116bff5beaa65186ed8d19ea4dc43edb77db5ef060f" },
  "tags": [{ "name": "tax-collector" }]
}
