prod/workflows/LOAD_CORE_TAX_DOCS.json
{
  "name": "LOAD_CORE_TAX_DOCS",
  "nodes": [
    {
      "parameters": {},
      "id": "6496fb8b-e368-4b66-80ea-7a9283575f73",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1216,
        0
      ]
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "265587b1-fecb-4ece-ab3e-c13712792d20",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1216,
        -192
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ctl.process_log (workflow_nme, script_nme, status, started_at)\nVALUES ('TC_LOAD_CORE_TAX_DOCS', 'sp_merge_tax_documents', 'STARTED', NOW())\nRETURNING batch_id;",
        "options": {}
      },
      "id": "ba4864f8-f6a3-489f-966b-ce561f4b3350",
      "name": "Start Batch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1392,
        -96
      ],
      "credentials": {
        "postgres": {
          "id": "GhZL6n0TTt2R9eJ7",
          "name": "Tax Collector DB"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const batchId = $input.first().json.batch_id;\nreturn [{ json: { batch_id: batchId } }];"
      },
      "id": "aa33f262-f24d-4b88-9146-ba37f2d3e165",
      "name": "Set Batch ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  d.subject,\n  d.file_name,\n  c.category_nme,\n  d.is_deductible,\n  d.review_status\nFROM core.tax_documents d\nJOIN ref.tax_categories c ON c.category_id = d.tax_category_id\nWHERE d.review_status IN ('CONFIRMED', 'REJECTED')\n  AND d.tax_category_id IS NOT NULL\nORDER BY d.updated_at DESC NULLS LAST\nLIMIT 10;",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef000000001a",
      "name": "Get Few-Shot Examples",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1712,
        -96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "GhZL6n0TTt2R9eJ7",
          "name": "Tax Collector DB"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT landing_id, subject, sender_email, file_name, file_ext\nFROM landing.tax_documents\nWHERE is_processed = FALSE\n  AND raw_json -> 'classification' IS NULL;",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef000000002b",
      "name": "Get Unclassified Landing",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1900,
        -176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "GhZL6n0TTt2R9eJ7",
          "name": "Tax Collector DB"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const OLLAMA_URL = 'http://192.168.0.93:11434/api/generate';\nconst MODEL = 'qwen2.5:14b';\nconst CATEGORIES = [\n  'Payment Summary / Income Statement', 'Bank Interest', 'Dividends',\n  'Share Trade / CGT Event', 'Work From Home — Electricity/Gas',\n  'Work From Home — Internet', 'Technology Equipment', 'Software & Subscriptions',\n  'Professional Development', 'Income Protection Insurance',\n  'ATO Notice / Assessment', 'HECS-HELP', 'Superannuation',\n  'Private Health Insurance', 'Rental Income', 'Property Depreciation',\n  'Utility Bill', 'Motor Vehicle / Logbook', 'Donations',\n  'Tax Agent Fees', 'Work-Related Assets', 'Other'\n];\n\nconst examples = $items('Get Few-Shot Examples').map(i => i.json);\nconst fewShotBlock = examples.length >= 3\n  ? 'Here are recent examples of correctly classified documents:\\n' +\n    examples.map(e => `- \"${e.subject || e.file_name}\" → ${e.category_nme} (deductible: ${e.is_deductible})`).join('\\n') + '\\n\\n'\n  : '';\n\nconst records = $input.all().filter(i => i.json && i.json.landing_id != null).map(i => i.json);\nif (records.length === 0) return [{ json: { classified: 0, updates: [] } }];\n\nconst updates = await Promise.all(records.map(async (rec) => {\n  const prompt = `${fewShotBlock}Classify this tax document for Australian personal tax records.\\nSubject: ${rec.subject || '—'}\\nSender: ${rec.sender_email || '—'}\\nFile: ${rec.file_name || '—'}\\n\\nCategories:\\n${CATEGORIES.map(c => '- ' + c).join('\\n')}\\n\\nAlso determine:\\n- fy_year: Australian financial year (e.g. 2025). Null if unclear.\\n- supplier_name: issuing company\\n- is_deductible: true/false\\n- confidence: 0.0 to 1.0\\n\\nRespond ONLY with valid JSON:\\n{\"category\": \"...\", \"fy_year\": 2025, \"supplier_name\": \"...\", \"is_deductible\": false, \"confidence\": 0.85}`;\n\n  let classification;\n  try {\n    const resp = await fetch(OLLAMA_URL, {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ model: MODEL, prompt, stream: false })\n    });\n    const data = await resp.json();\n    const raw = (data.response || '').replace(/```json\\n?/g, '').replace(/```/g, '').trim();\n    classification = JSON.parse(raw);\n  } catch (e) {\n    classification = { category: 'Other', fy_year: null, supplier_name: null, is_deductible: false, confidence: 0.0 };\n  }\n\n  return { landing_id: rec.landing_id, classification };\n}));\n\nreturn [{ json: { classified: updates.length, updates } }];"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef000000003c",
      "name": "Classify Landing Records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        -176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-classified-gt-zero",
              "leftValue": "={{ $json.classified }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef000000004d",
      "name": "IF Has Classifications",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2260,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE landing.tax_documents AS t\nSET raw_json = t.raw_json || jsonb_build_object('classification', u.cls)\nFROM (\n  SELECT\n    (el->>'landing_id')::int AS lid,\n    (el->>'classification')::jsonb AS cls\n  FROM jsonb_array_elements(\n    '{{ JSON.stringify($json.updates) }}'::jsonb\n  ) AS el\n) u\nWHERE t.landing_id = u.lid;",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef000000005e",
      "name": "Update Landing Classifications",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2440,
        -96
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "GhZL6n0TTt2R9eJ7",
          "name": "Tax Collector DB"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CALL core.sp_merge_tax_documents(NULL);",
        "options": {}
      },
      "id": "5cb937b6-dcff-4ee0-9aa6-2657bebaf2d2",
      "name": "Merge to Core",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2620,
        -176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "GhZL6n0TTt2R9eJ7",
          "name": "Tax Collector DB"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) FILTER (WHERE review_status = 'AUTO_CONFIRMED') AS auto_confirmed,\n  COUNT(*) FILTER (WHERE review_status = 'NEEDS_REVIEW')   AS needs_review,\n  COUNT(*) FILTER (WHERE review_status = 'AUTO_REJECTED')  AS auto_rejected,\n  COUNT(*) AS total\nFROM core.tax_documents;",
        "options": {}
      },
      "id": "3a30ef83-1349-4cf5-b6e6-460df6395cec",
      "name": "Get Counts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2800,
        -176
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "GhZL6n0TTt2R9eJ7",
          "name": "Tax Collector DB"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ctl.process_log\nSET status       = 'SUCCESS',\n    rows_extracted = {{ $json.total }},\n    rows_loaded    = {{ $json.auto_confirmed }},\n    completed_at   = NOW()\nWHERE batch_id = {{ $items('Set Batch ID')[0].json.batch_id }};",
        "options": {}
      },
      "id": "8917582d-4d5b-4c9f-99f4-46d2ace99496",
      "name": "Complete Batch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2960,
        -176
      ],
      "credentials": {
        "postgres": {
          "id": "GhZL6n0TTt2R9eJ7",
          "name": "Tax Collector DB"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ctl.process_log\nSET status       = 'FAILED',\n    error_msg    = '{{ $json.message.replace(/'/g, \"''\") }}',\n    completed_at = NOW()\nWHERE batch_id = {{ $items('Set Batch ID')[0].json.batch_id }};",
        "options": {}
      },
      "id": "3340559e-e3da-4a95-bf8a-feef7a39527c",
      "name": "Fail Batch",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        3100,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "GhZL6n0TTt2R9eJ7",
          "name": "Tax Collector DB"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "toshach@gmail.com",
        "subject": "=TC_LOAD_CORE_TAX_DOCS FAILED — {{ $now.toISO() }}",
        "message": "=<p>The <strong>TC_LOAD_CORE_TAX_DOCS</strong> workflow failed.</p>\n<p><strong>Error:</strong> {{ $json.message }}</p>\n<p><strong>Batch ID:</strong> {{ $items('Set Batch ID')[0].json.batch_id }}</p>\n<p>Check <code>ctl.process_log</code> for details.</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "7ea32f1a-100d-4f26-822b-70bb3d1a584a",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3260,
        0
      ],
      "webhookId": "b3324085-43bc-42d7-9df8-9e227a377fd5",
      "credentials": {
        "gmailOAuth2": {
          "id": "WcOe7o1be8G2TzJ4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "=TC_LOAD_CORE_TAX_DOCS failed: {{ $json.message }}"
      },
      "id": "6d529818-4751-4346-b095-633edd0147e1",
      "name": "Stop And Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        3420,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Start Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Start Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Batch": {
      "main": [
        [
          {
            "node": "Set Batch ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Batch ID": {
      "main": [
        [
          {
            "node": "Get Few-Shot Examples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Few-Shot Examples": {
      "main": [
        [
          {
            "node": "Get Unclassified Landing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Unclassified Landing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unclassified Landing": {
      "main": [
        [
          {
            "node": "Classify Landing Records",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify Landing Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Landing Records": {
      "main": [
        [
          {
            "node": "IF Has Classifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Classifications": {
      "main": [
        [
          {
            "node": "Update Landing Classifications",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge to Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Landing Classifications": {
      "main": [
        [
          {
            "node": "Merge to Core",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge to Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge to Core": {
      "main": [
        [
          {
            "node": "Get Counts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Counts": {
      "main": [
        [
          {
            "node": "Complete Batch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete Batch": {
      "main": [
        [],
        [
          {
            "node": "Fail Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fail Batch": {
      "main": [
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Alert": {
      "main": [
        [
          {
            "node": "Stop And Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e53914db-7659-4111-b400-d7f96adbfc2e",
  "meta": {
    "instanceId": "2368e69b5c080df17f325116bff5beaa65186ed8d19ea4dc43edb77db5ef060f"
  },
  "id": "n3HnEC6y2NE651YAMXW6t",
  "tags": [
    {
      "name": "tax-collector"
    }
  ]
}
