prod/workflows/NOTIFY_REVIEW.json
{
  "name": "NOTIFY_REVIEW",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 390]
    },
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 560]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    d.doc_id,\n    COALESCE(d.supplier_name, '— unknown —') AS supplier_name,\n    d.subject,\n    COALESCE(c.category_nme, '— uncategorised —') AS category,\n    ROUND(d.confidence_score::numeric, 2) AS confidence,\n    d.total_amount,\n    d.document_date,\n    CASE WHEN d.fy_year IS NOT NULL THEN 'FY' || d.fy_year ELSE '—' END AS fy_label\nFROM core.tax_documents d\nLEFT JOIN ref.tax_categories c ON c.category_id = d.tax_category_id\nWHERE d.review_status = 'NEEDS_REVIEW'\nORDER BY d.confidence_score ASC, d.document_date DESC;",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Get Pending Records",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [460, 470],
      "credentials": {
        "postgres": {
          "id": "GhZL6n0TTt2R9eJ7",
          "name": "Tax Collector DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.REVIEW_HMAC_SECRET || 'fallback-secret';\nconst baseUrl = 'https://n8n.rodinah.dev/webhook/tax-review';\nconst metabaseUrl = 'http://hal-srvr:3002/dashboard/6';\n\n// Filter out empty rows that postgres returns when there are no results\nconst records = $input.all().filter(r => r.json && r.json.doc_id != null);\nconst count = records.length;\n\nfunction makeToken(docId, action) {\n  return crypto.createHmac('sha256', secret)\n    .update(`${docId}|${action}`)\n    .digest('hex');\n}\n\nfunction makeLink(docId, action) {\n  const token = makeToken(docId, action);\n  return `${baseUrl}?action=${action}&doc_id=${docId}&token=${token}`;\n}\n\nfunction formatAmount(amount) {\n  if (amount === null || amount === undefined) return '—';\n  return '$' + parseFloat(amount).toFixed(2);\n}\n\nfunction formatDate(d) {\n  if (!d) return '—';\n  return new Date(d).toLocaleDateString('en-AU');\n}\n\nconst header = `\n<!DOCTYPE html>\n<html>\n<head><meta name=\"viewport\" content=\"width=device-width,initial-scale=1\"></head>\n<body style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;margin:0;padding:20px;background:#f9fafb\">\n  <div style=\"max-width:1000px;margin:0 auto;background:#fff;border-radius:8px;box-shadow:0 1px 4px rgba(0,0,0,.1);overflow:hidden\">`;\n\nconst footer = `\n    <div style=\"padding:16px 24px;border-top:1px solid #e2e8f0;text-align:center\">\n      <a href=\"${metabaseUrl}\" style=\"color:#1e40af;font-size:13px;text-decoration:none\">&#128202; Open Review Queue in Metabase</a>\n    </div>\n  </div>\n</body>\n</html>`;\n\nlet html, subject;\n\nif (count === 0) {\n  subject = 'TC Review — All Clear ✓';\n  html = header + `\n    <div style=\"background:#166534;padding:20px 24px\">\n      <h1 style=\"color:#fff;margin:0;font-size:20px\">&#10003; Tax Collector — All Clear</h1>\n      <p style=\"color:#bbf7d0;margin:6px 0 0;font-size:14px\">No documents require review at this time</p>\n    </div>\n    <div style=\"padding:40px 24px;text-align:center\">\n      <p style=\"color:#555;font-size:15px;margin:0\">All documents have been reviewed. Nothing to action.</p>\n    </div>` + footer;\n} else {\n  subject = `TC Review Required — ${count} document${count !== 1 ? 's' : ''} awaiting decision`;\n  const rows = records.map(r => {\n    const d = r.json;\n    const confirmUrl = makeLink(d.doc_id, 'confirm');\n    const rejectUrl  = makeLink(d.doc_id, 'reject');\n    return `\n    <tr style=\"border-bottom:1px solid #eee\">\n      <td style=\"padding:10px 8px;font-size:13px;color:#666\">${d.doc_id}</td>\n      <td style=\"padding:10px 8px;font-size:13px;font-weight:600\">${d.supplier_name}</td>\n      <td style=\"padding:10px 8px;font-size:12px;color:#444;max-width:220px\">${d.subject || '—'}</td>\n      <td style=\"padding:10px 8px;font-size:12px\">${d.category}</td>\n      <td style=\"padding:10px 8px;font-size:13px;text-align:center\">${d.confidence}</td>\n      <td style=\"padding:10px 8px;font-size:13px;text-align:right\">${formatAmount(d.total_amount)}</td>\n      <td style=\"padding:10px 8px;font-size:12px;color:#666\">${formatDate(d.document_date)}</td>\n      <td style=\"padding:10px 8px;font-size:12px;color:#666\">${d.fy_label || '—'}</td>\n      <td style=\"padding:10px 8px;white-space:nowrap\">\n        <a href=\"${confirmUrl}\" style=\"background:#22c55e;color:#fff;padding:6px 12px;border-radius:4px;text-decoration:none;font-size:13px;font-weight:600;margin-right:6px\">&#10003; Confirm</a>\n        <a href=\"${rejectUrl}\"  style=\"background:#ef4444;color:#fff;padding:6px 12px;border-radius:4px;text-decoration:none;font-size:13px;font-weight:600\">&#10007; Reject</a>\n      </td>\n    </tr>`;\n  }).join('');\n\n  html = header + `\n    <div style=\"background:#1e40af;padding:20px 24px\">\n      <h1 style=\"color:#fff;margin:0;font-size:20px\">&#128203; Tax Collector — Review Required</h1>\n      <p style=\"color:#bfdbfe;margin:6px 0 0;font-size:14px\">${count} document${count !== 1 ? 's' : ''} awaiting your decision</p>\n    </div>\n    <div style=\"padding:20px 24px\">\n      <table style=\"width:100%;border-collapse:collapse\">\n        <thead>\n          <tr style=\"background:#f1f5f9\">\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#64748b;font-weight:600\">ID</th>\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#64748b;font-weight:600\">Supplier</th>\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#64748b;font-weight:600\">Subject</th>\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#64748b;font-weight:600\">Category</th>\n            <th style=\"padding:10px 8px;text-align:center;font-size:12px;color:#64748b;font-weight:600\">Conf.</th>\n            <th style=\"padding:10px 8px;text-align:right;font-size:12px;color:#64748b;font-weight:600\">Amount</th>\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#64748b;font-weight:600\">Date</th>\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#64748b;font-weight:600\">FY</th>\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#64748b;font-weight:600\">Action</th>\n          </tr>\n        </thead>\n        <tbody>${rows}</tbody>\n      </table>\n    </div>` + footer;\n}\n\nreturn [{ json: { html, subject, count } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Build Digest Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 470]
    },
    {
      "parameters": {
        "sendTo": "toshach@gmail.com",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.html }}",
        "options": {
          "appendAttribution": false,
          "mimeType": "html"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [900, 470],
      "credentials": {
        "gmailOAuth2": {
          "id": "WcOe7o1be8G2TzJ4",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "Get Pending Records", "type": "main", "index": 0 }]]
    },
    "When Executed by Another Workflow": {
      "main": [[{ "node": "Get Pending Records", "type": "main", "index": 0 }]]
    },
    "Get Pending Records": {
      "main": [[{ "node": "Build Digest Email", "type": "main", "index": 0 }]]
    },
    "Build Digest Email": {
      "main": [[{ "node": "Send Digest Email", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "meta": { "instanceId": "2368e69b5c080df17f325116bff5beaa65186ed8d19ea4dc43edb77db5ef060f" },
  "tags": [{ "name": "tax-collector" }]
}
